.userTemplate{
    background-image: url('../../img/profile.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and(max-width:600px) {
    .userTemplate{
        height: 1000px;
    }
}
