.profile {
  width: 100%;
  height: 100%;
  .content {
    padding: 0 20px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    .profile_left {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        border-radius: 50%;
      }
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: auto;
        height: 48px;
        padding: 0 16px;
        min-width: 48px;
        min-height: auto;
        border-radius: 24px;
        color: #fff;
        background-color: #3f51b5;
        border: none;
        font-weight: 500;
        box-shadow: 0px 3px 14px 0px rgba(118, 118, 118, 0.75);
        -webkit-box-shadow: 0px 3px 14px 0px rgba(118, 118, 118, 0.75);
        -moz-box-shadow: 0px 3px 14px 0px rgba(118, 118, 118, 0.75);
        &:hover {
          box-shadow: 0px 3px 14px 0px rgba(159, 158, 158, 0.75);
          -webkit-box-shadow: 0px 3px 14px 0px rgba(159, 158, 158, 0.75);
          -moz-box-shadow: 0px 3px 14px 0px rgba(159, 158, 158, 0.75);
          transition: all 0.3s;
        }
      }
      .activity {
        width: 100%;
        margin-top: 20px;
        table {
          width: 100%;
          tbody {
            width: 100%;
            tr {
              border: 1px solid;
              width: 100%;
              color: #fff;
              th {
                padding: 10px 0;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                span {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
    .profile_right {
      width: 75%;
      .form_profile {
        width: 100%;
        p {
          margin: 0;
          margin-top: 15px;
          margin-bottom: 10px;
          color: #fff;
          font-weight: 600;
        }
        input {
          height: 40px;
          border: 1px solid #fff;
          outline: none;
          width: 40%;
          border-radius: 15px;
          padding: 0 10px;
          background: transparent;
          color: #fff;
        }
        ::placeholder {
          color: #fff;
        }
        div {
          color: rgb(255, 41, 41);
        }
        .change_password {
          width: 40%;
          padding: 8px 0;
          background-color: #215ca0;
          border: none;
          border-radius: 8px;
          margin: 0;
          margin-top: 20px;
          color: #fff;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: #1b487b;
            transition: all 0.3s;
          }
        }
        .update {
          width: 40%;
          padding: 8px 0;
          background-color: #429321;
          border: none;
          border-radius: 8px;
          margin-top: 20px;
          color: #fff;
          &:hover {
            background-color: #316c19;
            transition: all 0.3s;
          }
        }
      }
      .ant-tabs-top > .ant-tabs-nav::before,
      .ant-tabs-top > div > .ant-tabs-nav::before {
        display: none;
      }
      #rc-tabs-0-panel-2 {
        height: 550px;
        overflow-y: scroll;
      }
      ::-webkit-scrollbar {
        width: 5px !important;
        height: 10px !important;
        background-color: #fff !important;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #8b8b8b !important;
        border-radius: 5px !important;
      }
      .ant-tabs-tab-btn {
        h5 {
          color: #fff;
          font-size: 18px;
        }
      }
      table,
      th,
      td {
        border: 1px solid #949191;
        border-collapse: collapse;
        padding: 15px 0;
        text-align: center;
      }
      .info_table {
        width: 100% !important;
        height: 550px !important;
        overflow-y: scroll;
        table {
          width: 1000px !important;
          color: #fff;
          tr {
            padding: 10px 0;
          }
          tbody {
            overflow-y: scroll;
            tr {
              &:hover {
                background-color: rgba(186, 186, 186, 0.3);
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

.ant-modal-body {
  p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  input {
    height: 40px;
    border: 1px solid #000;
    outline: none;
    width: 40%;
    border-radius: 15px;
    padding: 0 10px;
    width: 100%;
  }
  button {
    margin-top: 20px;
    width: 100%;
    padding: 8px 0;
    background-color: #429321;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    &:hover {
      background-color: #316c19;
      transition: all 0.3s;
    }
  }
}

@media screen and (max-width: 990px) {
  .profile {
    width: 100%;
    height: 100%;
    .content {
      padding: 0 20px;
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: transparent;
      backdrop-filter: blur(15px);
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
      .profile_left {
        width: 20%;
        img {
          width: 100%;
          border-radius: 50%;
        }
        .activity {
          width: 100%;
          margin-top: 20px;
          table {
            width: 100%;
            tbody {
              width: 100%;
              tr {
                border: 1px solid;
                width: 100%;
                color: #fff;
                th {
                  padding: 10px 0;
                  font-size: 16px;
                  display: flex;
                  justify-content: space-between;
                  padding: 10px;
                  span {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
      .profile_right {
        width: 75%;
        .form_profile {
          width: 100%;
          p {
            margin: 0;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #fff;
            font-weight: 600;
          }
          input {
            height: 40px;
            border: 1px solid #fff;
            outline: none;
            width: 50%;
            border-radius: 15px;
            padding: 0 10px;
            background: transparent;
            color: #fff;
          }
          ::placeholder {
            color: #fff;
          }
          div {
            color: rgb(255, 41, 41);
          }
          .change_password {
            width: 50%;
            padding: 8px 0;
            background-color: #215ca0;
            border: none;
            border-radius: 8px;
            margin: 0;
            margin-top: 20px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: #1b487b;
              transition: all 0.3s;
            }
          }
          .update {
            width: 50%;
            padding: 8px 0;
            background-color: #429321;
            border: none;
            border-radius: 8px;
            margin-top: 20px;
            color: #fff;
            &:hover {
              background-color: #316c19;
              transition: all 0.3s;
            }
          }
        }
        .ant-tabs-top > .ant-tabs-nav::before,
        .ant-tabs-top > div > .ant-tabs-nav::before {
          display: none;
        }
        #rc-tabs-0-panel-2 {
          height: 550px;
          overflow-y: scroll;
        }
        ::-webkit-scrollbar {
          width: 5px !important;
          background-color: #fff !important;
        }

        ::-webkit-scrollbar-thumb {
          background-color: #8b8b8b !important;
          border-radius: 5px !important;
        }
        .ant-tabs-tab-btn {
          h5 {
            color: #fff;
            font-size: 18px;
          }
        }
        table,
        th,
        td {
          border: 1px solid #949191;
          border-collapse: collapse;
          padding: 15px 0;
          text-align: center;
        }
        .info_table {
          width: 100% !important;
          height: 550px !important;
          overflow-y: scroll;
          table {
            width: 1000px !important;
            color: #fff;
            tr {
              padding: 10px 0;
            }
            tbody {
              height: 100px;
              overflow-y: scroll;
              tr {
                &:hover {
                  background-color: rgba(186, 186, 186, 0.3);
                  transition: all 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 100%;
    height: 100%;
    .content {
      padding: 0 20px;
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: transparent;
      backdrop-filter: blur(15px);
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
      .profile_left {
        width: 20%;
        img {
          width: 100%;
          border-radius: 50%;
        }
        .activity {
          width: 100%;
          margin-top: 20px;
          table {
            width: 100%;
            tbody {
              width: 100%;
              tr {
                border: 1px solid;
                width: 100%;
                color: #fff;
                th {
                  padding: 10px 0;
                  font-size: 16px;
                  display: flex;
                  justify-content: space-between;
                  padding: 10px;
                  span {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
      .profile_right {
        width: 75%;
        .form_profile {
          width: 100%;
          p {
            margin: 0;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #fff;
            font-weight: 600;
          }
          input {
            height: 40px;
            border: 1px solid #fff;
            outline: none;
            width: 100%;
            border-radius: 15px;
            padding: 0 10px;
            background: transparent;
            color: #fff;
          }
          ::placeholder {
            color: #fff;
          }
          div {
            color: rgb(255, 41, 41);
          }
          .change_password {
            width: 100%;
            padding: 8px 0;
            background-color: #215ca0;
            border: none;
            border-radius: 8px;
            margin: 0;
            margin-top: 20px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: #1b487b;
              transition: all 0.3s;
            }
          }
          .update {
            width: 100%;
            padding: 8px 0;
            background-color: #429321;
            border: none;
            border-radius: 8px;
            margin-top: 20px;
            color: #fff;
            &:hover {
              background-color: #316c19;
              transition: all 0.3s;
            }
          }
        }
        .ant-tabs-top > .ant-tabs-nav::before,
        .ant-tabs-top > div > .ant-tabs-nav::before {
          display: none;
        }
        #rc-tabs-0-panel-2 {
          height: 450px;
          overflow-y: scroll;
        }
        ::-webkit-scrollbar {
          width: 5px !important;
          background-color: #fff !important;
        }

        ::-webkit-scrollbar-thumb {
          background-color: #8b8b8b !important;
          border-radius: 5px !important;
        }
        .ant-tabs-tab-btn {
          h5 {
            color: #fff;
            font-size: 18px;
          }
        }
        table,
        th,
        td {
          border: 1px solid #949191;
          border-collapse: collapse;
          padding: 15px 0;
          text-align: center;
        }
        .info_table {
          width: 100% !important;
          height: 450px !important;
          overflow-y: scroll;
          table {
            width: 1000px !important;
            color: #fff;
            tr {
              padding: 10px 0;
            }
            tbody {
              height: 100px;
              overflow-y: scroll;
              tr {
                &:hover {
                  background-color: rgba(186, 186, 186, 0.3);
                  transition: all 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    width: 100%;
    height: 100%;
    .content {
      padding: 0 20px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      background: transparent;
      backdrop-filter: blur(15px);
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
      .profile_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
          text-align: center;
          width: 50%;
          border-radius: 50%;
        }
        .activity {
          width: 80%;
          margin-top: 20px;
          table {
            width: 100%;
            tbody {
              width: 100%;
              tr {
                border: 1px solid;
                width: 100%;
                color: #fff;
                th {
                  padding: 10px 0;
                  font-size: 16px;
                  display: flex;
                  justify-content: space-between;
                  padding: 10px;
                  span {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
      .profile_right {
        width: 100%;
        height: 400px !important;
        margin-top: 50px;
        .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
        .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
          display: flex;
          justify-content: center;
        }
        .form_profile {
          width: 100%;
          p {
            margin: 0;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #fff;
            font-weight: 600;
          }
          input {
            height: 40px;
            border: 1px solid #fff;
            outline: none;
            width: 100% !important;
            border-radius: 15px;
            padding: 0 10px;
            background: transparent;
            color: #fff;
          }
          ::placeholder {
            color: #fff;
          }
          div {
            color: rgb(255, 41, 41);
          }
          .change_password {
            display: none;
            width: 100% !important;
            padding: 8px 0;
            background-color: #215ca0;
            border: none;
            border-radius: 8px;
            margin: 0;
            margin-top: 20px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: #1b487b;
              transition: all 0.3s;
            }
          }
          .update {
            width: 100% !important;
            padding: 8px 0;
            background-color: #429321;
            border: none;
            border-radius: 8px;
            margin-top: 20px;
            color: #fff;
            &:hover {
              background-color: #316c19;
              transition: all 0.3s;
            }
          }
        }
      }
      .ant-tabs-top > .ant-tabs-nav::before,
      .ant-tabs-top > div > .ant-tabs-nav::before {
        display: none;
      }
      #rc-tabs-0-panel-2 {
        height: 400px;
        overflow-y: scroll;
      }
      ::-webkit-scrollbar {
        width: 5px !important;
        background-color: #fff !important;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #8b8b8b !important;
        border-radius: 5px !important;
      }
      .ant-tabs-tab-btn {
        h5 {
          color: #fff;
          font-size: 16px;
        }
      }
      table,
      th,
      td {
        border: 1px solid #949191;
        border-collapse: collapse;
        padding: 15px 0;
        text-align: center;
      }
      .info_table {
        width: 100% !important;
        height: 100vh !important;
        overflow-y: scroll;
        table {
          width: 1000px !important;
          height: 1000px !important;
          color: #fff;
          tr {
            padding: 10px 0;
          }
          tbody {
            height: 100px;
            overflow-y: scroll;
            tr {
              &:hover {
                background-color: rgba(186, 186, 186, 0.3);
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
